<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="src/directory.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <script src="src/directory.js"></script>
    <title>directory</title>
  </head>
  <body class="container-fluid">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>
            </div>
        </nav>
        <div id="googleMap" style="width:100%;height:400px;"></div>
        
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPHXn5B2BfPeFQYkHhLiGvUhtODKpUrpo&callback=myMap"></script>
    <section class="container-fluid selectors">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Technologies
                        </a>
                        <div class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdown">
                            <div class="checkbox">
                                <input class="choice" type="checkbox" name="technologies" value="all" aria-label="Checkbox for following text input">
                                <p class="choice">All</p>
                            </div>
                            <div class="checkbox">
                                <input class="choice" type="checkbox" name="technologies" value="html5" aria-label="Checkbox for following text input">
                                <p class="choice">HTML5</p>
                            </div>
                            <div class="checkbox">
                                <input class="choice" type="checkbox" name="technologies" value="css" aria-label="Checkbox for following text input">
                                <p class="choice">CSS</p>
                            </div>
                            <div class="checkbox">
                                <input class="choice" type="checkbox" name="technologies" value="javascript" aria-label="Checkbox for following text input">
                                <p class="choice">Javascript</p>
                            </div>
                            <div class="checkbox">
                                <input class="choice" type="checkbox" name="technologies" value="react" aria-label="Checkbox for following text input">
                                <p class="choice">React</p>
                            </div>
                            <div class="checkbox">
                                <input class="choice" type="checkbox" name="technologies" value="node.js" aria-label="Checkbox for following text input">
                                <p class="choice">Node.js</p>
                            </div>
                            <div class="checkbox">
                                <input class="choice" type="checkbox" name="technologies" value="mongodb" aria-label="Checkbox for following text input">
                                <p class="choice">Mongodb</p>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Location
                            </a>
                            <div class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdown">
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="location" value="all" aria-label="Checkbox for following text input">
                                    <p class="choice">All</p>
                                </div>
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="location" value="ariana" aria-label="Checkbox for following text input">
                                    <p class="choice">Ariana</p>
                                </div>
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="location" value="béja" aria-label="Checkbox for following text input">
                                    <p class="choice">Béja</p>
                                </div>
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="location" value="ben-arous" aria-label="Checkbox for following text input">
                                    <p class="choice">Ben Arous</p>
                                </div>
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="location" value="bizerte" aria-label="Checkbox for following text input">
                                    <p class="choice">Bizerte</p>
                                </div>
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="location" value="gabès" aria-label="Checkbox for following text input">
                                    <p class="choice">Gabès</p>
                                </div>
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="location" value="gafsa" aria-label="Checkbox for following text input">
                                    <p class="choice">Gafsa</p>
                                </div>
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="location" value="jendouba" aria-label="Checkbox for following text input">
                                    <p class="choice">Jendouba</p>
                                </div>
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="location" value="kairouan" aria-label="Checkbox for following text input">
                                    <p class="choice">Kairouan</p>
                                </div>
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="location" value="kasserine" aria-label="Checkbox for following text input">
                                    <p class="choice">Kasserine</p>
                                </div>
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="location" value="kébili" aria-label="Checkbox for following text input">
                                    <p class="choice">Kébili</p>
                                </div>
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="location" value="le-kef" aria-label="Checkbox for following text input">
                                    <p class="choice">Le Kef</p>
                                </div>
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="location" value="mahdia" aria-label="Checkbox for following text input">
                                    <p class="choice">Mahdia</p>
                                </div>
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="location" value="la-manouba" aria-label="Checkbox for following text input">
                                    <p class="choice">La Manouba</p>
                                </div>
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="location" value="médenine" aria-label="Checkbox for following text input">
                                    <p class="choice">Médenine</p>
                                </div>
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="location" value="monastir" aria-label="Checkbox for following text input">
                                    <p class="choice">Monastir</p>
                                </div>
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="location" value="nabeul" aria-label="Checkbox for following text input">
                                    <p class="choice">Nabeul</p>
                                </div>
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="location" value="sfax" aria-label="Checkbox for following text input">
                                    <p class="choice">Sfax</p>
                                </div>
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="location" value="sidi-bouzid" aria-label="Checkbox for following text input">
                                    <p class="choice">Sidi Bouzid</p>
                                </div>
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="location" value="siliana" aria-label="Checkbox for following text input">
                                    <p class="choice">Siliana</p>
                                </div>
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="location" value="sousse" aria-label="Checkbox for following text input">
                                    <p class="choice">Sousse</p>
                                </div>
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="location" value="tataouine" aria-label="Checkbox for following text input">
                                    <p class="choice">Tataouine</p>
                                </div>
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="location" value="tozeur" aria-label="Checkbox for following text input">
                                    <p class="choice">Tozeur</p>
                                </div>
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="location" value="tunis" aria-label="Checkbox for following text input">
                                    <p class="choice">Tunis</p>
                                </div>
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="location" value="zaghouan" aria-label="Checkbox for following text input">
                                    <p class="choice">Zaghouan</p>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gender
                            </a>
                            <div class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdown">
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="gender" value="all" aria-label="Checkbox for following text input">
                                    <p class="choice">All</p>
                                </div>
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="gender" value="male" aria-label="Checkbox for following text input">
                                    <p class="choice">Male</p>
                                </div>
                                <div class="checkbox">
                                    <input class="choice" type="checkbox" name="gender" value="female" aria-label="Checkbox for following text input">
                                    <p class="choice">Female</p>
                                </div>
                            </div>
                        </li>
                </ul>
            </div>
        </nav>
    </section>
    <section class="women-directory ng-scope" style="min-height: 1043.66px;" >
        <ul class="profiles-list horizontal-list clearfix ng-scope">
            <li class="ng-scope" data-ng-repeat="profile in profiles.filteredProfiles track by $index">
                <div tabindex="0" class="profile degree-" id="id-4657391668822016" role="button" aria-controls="wtm-directory-lightbox" aria-label="Open Nino Nanitashvili's profile" data-track-label="Nino Nanitashvili" data-track-action="Click: open lightbox" data-track-category="Directory - profile card" data-track="" data-ng-click="::profiles.showLightbox(profile.slug)" data-ng-keydown="::profiles.evaluateKeyPress($event, profile.slug)">
                    <span class="vertical-center">
                        <div class="avatar-wrapper">
                            <div class="avatar" style='background-image: url("https://www.womentechmakers.com/static/images/directory/avatars/nino-nanitashvili.png");' lazy-img="/static/images/directory/avatars/nino-nanitashvili.png"></div>
                        </div>
                        <h3 class="ng-binding" data-ng-bind="::profile.title || profile.name">Nino Nanitashvili</h3>
                        <h4 class="ng-binding">GDG Tbilisi</h4>
                    </span>
                    <footer class="footer fill degree-">
                        <ul class="skills-tech-list horizontal-list clearfix">
                            <li class="ng-binding ng-scope" data-ng-repeat="skill in ::profile.skills">HTML5
                                <span data-ng-hide="$last">,&nbsp;</span>
                            </li>
                            <li class="ng-binding ng-scope" data-ng-repeat="skill in ::profile.skills">CSS
                                <span data-ng-hide="$last">,&nbsp;</span>
                            </li>
                            <li class="ng-binding ng-scope" data-ng-repeat="skill in ::profile.skills">Project Management
                                <span class="ng-hide" data-ng-hide="$last">,&nbsp;</span>
                            </li>
                        </ul>
                    </footer>
                </div>
            </li>
            <li class="ng-scope" data-ng-repeat="profile in profiles.filteredProfiles track by $index">
                <div tabindex="0" class="profile degree-" id="id-4657391668822016" role="button" aria-controls="wtm-directory-lightbox" aria-label="Open Nino Nanitashvili's profile" data-track-label="Nino Nanitashvili" data-track-action="Click: open lightbox" data-track-category="Directory - profile card" data-track="" data-ng-click="::profiles.showLightbox(profile.slug)" data-ng-keydown="::profiles.evaluateKeyPress($event, profile.slug)">
                    <span class="vertical-center">
                        <div class="avatar-wrapper">
                            <div class="avatar" style='background-image: url("https://www.womentechmakers.com/static/images/directory/avatars/nino-nanitashvili.png");' lazy-img="/static/images/directory/avatars/nino-nanitashvili.png"></div>
                        </div>
                        <h3 class="ng-binding" data-ng-bind="::profile.title || profile.name">Nino Nanitashvili</h3>
                        <h4 class="ng-binding">GDG Tbilisi</h4>
                    </span>
                    <footer class="footer fill degree-">
                        <ul class="skills-tech-list horizontal-list clearfix">
                            <li class="ng-binding ng-scope" data-ng-repeat="skill in ::profile.skills">HTML5
                                <span data-ng-hide="$last">,&nbsp;</span>
                            </li>
                            <li class="ng-binding ng-scope" data-ng-repeat="skill in ::profile.skills">CSS
                                <span data-ng-hide="$last">,&nbsp;</span>
                            </li>
                            <li class="ng-binding ng-scope" data-ng-repeat="skill in ::profile.skills">Project Management
                                <span class="ng-hide" data-ng-hide="$last">,&nbsp;</span>
                            </li>
                        </ul>
                    </footer>
                </div>
            </li>
        </ul>
    </section>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.css">

</body>
</html>