body{
    font-family: 'Varela Round', sans-serif;
    height:200px;
}
li a{
    color: grey !important;
    font-size: 1.5rem !important; 
}
a{
  text-decoration: none;
  list-style-type: none;
}
li a:hover{
    color: #a2c11c !important;
} 
.navbar-brand p{
    font-size: 150%;
    color:#a2c11c;   
    font-weight: bold;
}
.navbar-brand{
    display: flex;
    justify-content: center
}
.checkbox{
    display:flex;
    align-items:baseline;
    border-bottom: 1px solid #E0E0E0;
}
.choice{
    margin-left:1em;
}
.scrollable-menu {
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
}

.scrollable-popup{
  height:auto;
  max-height:200px;
  overflow-x: hidden;
}

/*card*/
.women-directory .profiles-list .profile {
    background-color: #fff;
    border-top: 7px solid #fd8869;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
    cursor: pointer;
    height: 376px;
    padding-bottom: 78px;
    position: relative;
    width: 100%;
    padding-left: 2rem; 
    padding-right: 2rem;
}
ul, li {
    list-style-type: none;
}
.horizontal-list li {
    display: inline-block;
}
.women-directory .profiles-list > li {
    padding: 16px;
    width: 16.66%;
}
/* @media all and (max-width:2300px) */
.women-directory .profiles-list > li {
    width: 20%;
}
.women-directory {
    background-color: #eee;
    padding: 30px;
}
.women-directory .profiles-list .profile .vertical-center {
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}
.fill, .dir-share::before {
    bottom: 0px;
    display: block;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.women-directory .profiles-list .profile .footer {
    background-color: #f9f9f9;
    border-top: 1px solid #eee;
    height: 78px;
    padding: 24px 12px 0;
    text-align: center;
    top: auto;
}
.women-directory .profiles-list .profile .footer ul {
    height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.women-directory .profiles-list .profile .footer ul li {
    display: inline;
    line-height: 28px;
}
.women-directory .profiles-list .profile .footer .skills-tech-list li {
    color: #4c4c4c;
    font-size: 17px;
}
[ng-cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, :not(.ng-hide-animate).ng-hide {
    display: none !important;
}
.women-directory .profiles-list .profile h3 {
    -moz-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -ms-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    color: #404040;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
    padding: 0 12px;
}
.women-directory .profiles-list .profile:hover h3, .women-directory .profiles-list .profile:focus h3 {
    color: #fd8869;
}
.women-directory .profiles-list .profile h4 {
    color: #a5a5a5;
    font-size: 14px;
    font-weight: 400;
    padding: 0 12px;
}
.women-directory .profiles-list .profile .avatar {
    border-radius: 50%;
    height: 160px;
    margin: 0 auto 15px;
    width: 160px;
}
footer{
    font-weight: bold;
    z-index:2;
}

/* marker*/
.directory-map-marker {
	border-top: 7px solid #fd8869;
	height: 165px;
	position: relative;
	width: 350px;
}
.gm-style-iw > div {
	overflow: hidden !important;
}
.directory-map-container .gm-style-iw > div {
	max-height: 350px !important;
	max-width: 350px !important;
}
.gm-style .gm-style-iw {
	font-weight: 300;
	font-size: 13px;
	overflow: hidden;
}
.directory-map-container .iw-wrapper, .directory-map-container .iw-background, .directory-map-container .gm-style-iw {
	height: 165px !important;
	width: 350px !important;
}
.directory-map-container .gm-style-iw {
	background-color: #fff;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
	left: 25px !important;
	top: 15px !important;
}
.gm-style {
	font: 400 11px Roboto, Arial, sans-serif;
	text-decoration: none;
}
#directory .directory-map-container .google-map {
	background-color: #b2d0fe !important;
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 1;
}
#directory .directory-map-container .map-wrapper {
	height: 430px;
	position: relative;
}
.clearfix, section, .wtm-main-container, .wtm-main-article, .wtm-full-article, .wtm-card .links, footer .footer-holder, #events .events-list-container .wtm-events-list-container .wtm-events-list ul, .wtm-faqs-content .wtm-main-article ul {
	*zoom:1 ;
}
#directory .directory-map-container {
	transition: height 500ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
	background-color: #eee;
	height: 0px;
	overflow: hidden;
	position: relative;
}
#directory .directory-map-container.show-section {
	height: 430px;
}
.wtm-main-container {
	margin: 0 auto;
	position: relative;
}
#content {
	background: #272727;
}
#content {
	margin-top: 678px;
	position: relative;
	z-index: 100;
}
.directory-map-marker .content-left, .directory-map-marker .content-right-top, .directory-map-marker .content-right-bottom {
	position: absolute;
	top: 0px;
}
.directory-map-marker .content-left {
	border-right: 1px solid #eee;
	height: 100%;
	left: 0px;
	width: 40%;
}
.directory-map-marker .content-right-top {
	border-bottom: 1px solid #eee;
	height: 62.5%;
	right: 10px;
	left: 40%;
	padding: 12px 16px 0;
}
.directory-map-marker .content-right-bottom {
	background-color: #f9f9f9;
	height: 41%;
	padding: 19px 16px 0;
	right: 0px;
	top: 62.5%;
	width: 60%;
}
.directory-map-marker .content-right-bottom ul {
	height: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.horizontal-list li {
	display: inline-block;
}
.directory-map-marker .content-right-bottom ul li {
	display: inline;
	float: none;
	line-height: 22px;
}
.directory-map-marker .content-right-bottom .skills-tech-list li {
	color: #4c4c4c;
	font-size: 15px;
}
[ng-cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, :not(.ng-hide-animate).ng-hide {
	display: none !important;
}
.directory-map-marker .content-right-top h3, .directory-map-marker .content-right-top h4 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.directory-map-marker .content-right-top h3 {
	color: #404040;
	font-size: 18px;
	font-weight: 400;
	height: 26px;
	line-height: 26px;
}
.directory-map-marker .content-right-top h4 {
	color: #a5a5a5;
	font-size: 13px;
	font-weight: 400;
	height: 20px;
	line-height: 20px;
	margin-bottom: 10px;
}
button {
	overflow: visible;
	border: none medium;
}
button, select {
	text-transform: none;
}
button, html input[type='button'], input[type='reset'], input[type='submit'] {
	cursor: pointer;
}
.directory-map-marker .content-right-top button {
	transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
	background-color: transparent;
	color: #3f82eb;
	font-weight: 400;
}
.directory-map-marker .content-left .shares {
	text-align: center;
}
.directory-map-marker .content-left .shares li {
	float: none;
}
a {
	text-decoration: none;
}
.image-for-text {
	direction: ltr;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}
.dir-share {
	-moz-transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
	-ms-transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
	-webkit-transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
	transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
	background-color: #cacaca;
	border-radius: 50%;
	display: block;
	height: 22px;
	margin: 0 4px;
	position: relative;
	width: 22px;
}
.sprite, .directory-controls .toggle-map-btn .icon, .dir-share::before {
	background-image: url("../images/sprite.png");
	background-repeat: no-repeat;
	background-size: 150px 150px;
	display: block;
}
.fill, .dir-share::before {
	bottom: 0px;
	display: block;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.directory-map-marker .content-left .shares li a {
	margin: 0 1px;
}
.gm-style img {
	max-width: none;
}
.directory-map-marker .content-left .avatar {
	display: block;
	height: 94px;
	margin: 15px auto 13px;
	width: 94px;
}

/*navbar*/
.collapse{
    display: flex;
    justify-content: space-around;
    font-size: 120%
}
.collapse button{
    background-color: transparent;
    border-radius: 10%;
    border: 1px;
}
.collapse a{
    color: white;
}
.collapse a:hover{
    color: #a2c11c;
}
.navbar-brand p{
    font-size: 150%;
    color:#a2c11c;   
    font-weight: bold;
}
.navbar-brand{
    display: flex;
    justify-content: center

}
/* flip cards */
@import url('https://fonts.googleapis.com/css?family=Abel');

html, body {
  background: #FCEEB5;
  font-family: Abel, Arial, Verdana, sans-serif;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.card {
  width: 450px;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#dE685E, #EE786E);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
}


.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  /*border-left: 2px solid rgba(0,0,0,0.025);*/
}

.card .additional .user-card .level,
.card .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card .additional .user-card .points {
  top: 85%;
}

.card .additional .user-card svg {
  top: 50%;
}

.card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.card.green .additional .more-info h1 {
  color: #224C36;
}

.card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.card.green .additional .coords {
  color: #325C46;
}

.card .additional .coords span + span {
  float: right;
}

.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.card.green .additional .stats {
  color: #325C46;
}

.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}
.cartes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*footer*/
  .back{
    background-size: cover;
      background-position: center;
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      text-align: center;
      min-height: 280px;
      height: auto;
      border-radius: 10px;
      color: #fff;
      font-size: 1.5rem;
  }
  
  .back{
    background: #cedce7;
    background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  }
  
  .front:after{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      opacity: .6;
      background-color: #000;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-radius: 10px;
  }
  .container:hover .front,
  .container:hover .back{
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
  .back{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  
  .inner{
      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 2rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
              perspective: inherit;
      z-index: 2;
  }
  
  .container .back{
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container .front{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container:hover .back{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .container:hover .front{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .front .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
  }
  
  .front .inner span{
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat';
    font-weight: 300;
  }
  
  @media screen and (max-width: 64rem){
    .col{
      width: calc(33.333333% - 2rem);
    }
  }
  
  @media screen and (max-width: 48rem){
    .col{
      width: calc(50% - 2rem);
    }
  }
  
  @media screen and (max-width: 32rem){
    .col{
      width: 100%;
      margin: 0 0 2rem 0;
    }
  }

/*footer*/
.black{
    height: 34rem;
    background-color:black;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    font-size: 1.5rem;
    color: white;
    justify-content: center;
    align-items: center;
}
.black a{
    text-decoration-line: none
}
.black a:hover{
    color: #a2c11c
}
.black1{
    margin-top:2%;
    width: 30%;

}
.para2 a i{
    color: grey;
    width: 2rem;
}
.black2{
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    margin-right:2%; 
    border: 2px solid whitesmoke;
    border-radius: 1rem;
    height: 30rem;
    align-items: center;
    width:43%;
}
.para2 a i:hover{
    color: #a2c11c;
}
.black2 li:first-of-type{
    font-size: 32px;
}
ul{
    list-style: none;
}
.black2 a{
    color: whitesmoke;
}
.black2 p{
    color: red;
    font-size: 70%
    
}
.black2 i{color: greenyellow
}
.comment{
    width: 18.5rem;
}
.forms{
    margin-left: 7rem;
}
.black3{
    height: 6rem;
    background-color:black;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5em;
    align-items: flex-end;
    display: flex;
    justify-content: center;
    color: grey;
    bottom: 2rem;
}
.black3 a{
    color: grey;
}
.black3 a:hover{
    color: #a2c11c;
}
